.cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(1, 8, 23, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .cart-box {
    background: #b7d9f7;
    border-radius: 15px;
    padding: 30px;
    width: 750px;
    position: relative;
    border: 2px solid rgb(255, 255, 255);
    font-family: 'Single Day', cursive;
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.3);
  }
  
  .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  .cart-title {
    font-size: 2.75rem;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Walter Turncoat', cursive;
    color: #738BBF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-text-stroke: 0.25px rgba(0, 0, 0, 0.521); 
  }
  
  .cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .cart-table select {
    font-family: 'Single Day', cursive;
    padding: 6px 12px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid #444;
    background-color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .cart-table select:hover {
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  }
  
  .cart-table th {
    padding: 12px;
    border-bottom: 2px solid #333;
    text-align: center;
    font-weight: bold;
    font-family: 'Walter Turncoat', cursive;
    font-size: 1.75rem;
  }

  .cart-table td {
    padding: 12px;
    border-bottom: 2px solid #333;
    text-align: center;
    font-family: 'Single Day', cursive;
    font-size: 1.5rem;
  }
  
  .delete-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .delete-icon {
    width: 35px;
    height: 35px;
    transition: transform 0.2s ease;
  }
  
  .delete-icon:hover {
    transform: scale(1.25);
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
  }
  
  .cart-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
  }
  
  .total-price {
    font-size: 1.3rem;
    margin-bottom: 20px;
    font-weight: bold;
  }  
  
  .checkout-btn {
    font-family: 'Single Day', cursive;
    font-size: 1.2rem;
    background-color: #bb8669;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px 25px;
    cursor: pointer;
  }
  
  .checkout-btn:hover {
    background: white;
    color: #bb8669;
    transform: scale(1.05);
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
  }
