.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../assets/cats.png') no-repeat center center fixed;
    background-size: cover;
    background-color: #BFDEF8;
  }
  
  .login-box {
    background: #f5e4c3;
    width: 700px; 
    height: 600px; 
    padding: 40px;
    border: 2px solid black;
    border-radius: 25px; 
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top:70px;
  }
  
  .login-title {
    color: #86BB69;
    font-family: 'Walter Turncoat', cursive;
    font-size: 5rem;
    text-align: center;
    margin-top: -5px;
  }
  
  label {
    font-family: 'Walter Turncoat', cursive;
    font-size: 1.2rem;
    margin-bottom: 5px;
    display: block;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: 2px solid black;
    background: none;
    font-size: 1.2rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .email-info {
    font-size: 0.9rem;
    font-family: 'Walter Turncoat', cursive;
    color: #666;
    margin-bottom: 50px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 50px;
  }
  
  .submit-btn,
  .new-user-btn {
    font-family: 'Single Day', cursive;
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 50px;
    padding: 12px 35px;
    cursor: pointer;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .submit-btn {
    background-color: #86BB69;
  }

  .submit-btn:hover {
    background-color: white;
    color: #86BB69;
    transform: scale(1.05); 
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
  }
  
  .new-user-btn {
    background-color: #BB6971;
  }
  
  .new-user-btn:hover {
    background-color: white;
    color: #BB6971;
    transform: scale(1.05); 
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3); 
  }
