.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../assets/cats.png') no-repeat center center fixed;
    background-size: cover;
    background-color: #BFDEF8;
    padding-top: 0px;
  }
  
  .signup-box {
    background: #f5e4c3;
    width: 700px; 
    height: 700px; 
    padding: 40px;
    border: 2px solid black;
    border-radius: 25px; 
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px; 
    overflow: hidden;
  }
  
  .signup-title {
    color: #BBA569;
    font-family: 'Walter Turncoat', cursive;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 10px;
    margin-top: -20px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-text-stroke: 0.25px rgba(0, 0, 0, 0.521); 
    transition: all 0.3s ease-in-out;
  }
  
  .signup-title:hover {
    color: rgba(238, 237, 237, 0.781);
    -webkit-text-stroke: 1px #BBA569;
    text-shadow: none;
  }
  
  .signup-label {
    font-family: 'Walter Turncoat', cursive;
    font-size: 1.2rem;
    margin-bottom: 8px; 
    display: block;
  }
  
  input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 2px solid black;
    background: none;
    font-size: 1.2rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  }

  .profile-pic-upload {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 25px;
  }
  
  .profile-pic-preview {
    width: 120px; /* 👈 Bigger circle */
    height: 120px;
    border: 2px dashed black;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .profile-pic-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .empty-circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #f0f0f0;
  }
  
  /* Custom styled upload button */
  .custom-upload-btn {
    font-family: 'Single Day', cursive;
    font-size: 1rem;
    border: 2px solid black;
    padding: 10px 20px;
    background-color: #79a6e9;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  }
  
  .custom-upload-btn:hover {
    background-color: white;
    color: #79a6e9;
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  }  
  
  .signup-btn {
    background-color: #86BB69;
    font-family: 'Single Day', cursive;
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 50px;
    padding: 12px 35px;
    cursor: pointer;
    margin: 20px auto;       
    display: block;    
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
  
  .signup-btn:hover {
    background-color: white;
    color: #86BB69;
    transform: scale(1.05);
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
  }
