.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../assets/cats.png') no-repeat center center fixed;
    background-size: cover;
    background-color: #BFDEF8;
  }
  
  .signup-box {
    background: #f5e4c3;
    width: 700px; 
    height: 650px; 
    padding: 40px;
    border: 2px solid black;
    border-radius: 25px; 
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px; 
  }
  
  .signup-title {
    color: #BBA569;
    font-family: 'Walter Turncoat', cursive;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .signup-label {
    font-family: 'Walter Turncoat', cursive;
    font-size: 1.2rem;
    margin-bottom: 8px; 
    display: block;
  }
  
  input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 2px solid black;
    background: none;
    font-size: 1.2rem;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .location-btn {
    font-family: 'Single Day', cursive;
    font-size: 1.2rem;
    background-color: #698FBB; 
    border: 2px solid black;
    border-radius: 50px;
    padding: 12px 20px;
    cursor: pointer;
    width: 100%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px; 
  }
  
  .location-btn:hover {
    background-color: white;
    color: #4A90E2;
    transform: scale(1.05);
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
  }

  .signup-btn {
    background-color: #86BB69;
    font-family: 'Single Day', cursive;
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 50px;
    padding: 12px 35px;
    cursor: pointer;
    width: 100%; 
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
  
  .signup-btn:hover {
    background-color: white;
    color: #86BB69;
    transform: scale(1.05);
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
  }
  
